body {
	background: #f0f2f5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.stickyheader {
	position:fixed;
	width: 100%;
	z-index: 9999;
}
.logo-background {
	position: absolute;
	height: 60px;
	width: 100%;
	background-image: url(../images/staticheader.jpg);
	z-index: 5;
	opacity: 0.9;
}
.logo {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 10;
	color:white;
	font-family: 'Lobster';
	font-size: 23px;
	padding-top:10px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.categories { 
	position: fixed;
	z-index: 10;
	margin-top: 60px;
	text-align: center;
	padding:8px;
	display:inline-block;
	background: #fcfcfd;
	width: 100%;
}
.categories li {
	display: inline-block;
	padding: 3px 10px;
	list-style-type: none;
}
.categories li.active {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
}
.categories li a {
	color: #a6a6a6;
}
.categories li.active a {

	color: #737373;
}
.content {
	padding-top: 100px;
}

.container {
	margin-left: auto;
    margin-right: auto;
	width: 250px;
}

.title {
  width: 300px;
  outline: none;
  margin: 10px auto;
  text-align:center;
	font-weight: 300;
}

.section
{
	margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 10px;
}

