<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group buy</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{url_for('static', filename='css/items.css')}}">
</head>
<body>

	<div class="stickyheader">
		<div class="logo-background"></div>
		<div class="logo">GroupBuy</div>
		<ul class="categories">
			<li class="active"><a href="#">Listings</a></li>
			<!-- <li><a href="add.html">Add</a></li> -->
			<li><a href="/profile/">My Profile</a></li>
			<!-- <li><a href="manage.html">Manage</a></li> -->
		</ul>
	</div>

<div>
	<div>
		<div class="stickyheader-margin">
		<div class="content">
			<!-- <div class="options"> -->
				<div class="input-group">
				<input id="search" type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default search" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</span>
				</div>

				<div class="input-group input-group-lg options">
		  			<button class="btn btn-default add" data-toggle="modal" data-target="#add">Add <span class="glyphicon glyphicon-plus"></span></button>
		  			<button class="btn btn-default manage" type="button">Manage <span class="glyphicon glyphicon-wrench"></span></button>
				</div>

			<!-- </div> -->
			<div class="item">
				<div class="name">Julian Pie</div>
				<div class="desc">Delicious Pie! Anyone wants some?!</div>
				<span class="seller">Bob the Builder</span>
				<img class="img-responsive" src="http://theleftcoast.files.wordpress.com/2008/10/img_3546.jpg">
				<div class="itembar">
					<div class="btn-itembar price">$8</div>
					<div class="btn-itembar origprice">$14</div>
					<div class="btn-itembar btn-buy"><a href="singleitem.html">More Details</a></div>
				</div>
			</div>
			<br>
			<div class="item">
				<div class="name">Pokemon</div>
				<div class="desc">Everyone's favorite pokemon!</div>
				<span class="seller">Olaf</span>
				<img class="img-responsive" src="http://1-media-cdn.foolz.us/ffuuka/board/vp/image/1387/40/1387404247733.jpg">
				<div class="itembar">
					<div class="btn-itembar price">$250</div>
					<div class="btn-itembar origprice">$1000</div>
					<div class="btn-itembar btn-buy">More Details</div>
				</div>
			</div>
			<br>
			<div class="item">
				<div class="name">Kittens</div>
				<div class="desc">Selling kittens! A whole litter of them.</div>
				<span class="seller">Android</span>
				<img class="img-responsive" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg">
				<div class="itembar">
					<div class="btn-itembar price">$340</div>
					<div class="btn-itembar origprice">$500</div>
					<div class="btn-itembar btn-buy">More Details</div>
				</div>
			</div>
			<br>
			<div class="item">
				<div class="name">Doge</div>
				<div class="desc">Much amaze. Such wow.</div>
				<span class="seller">Mr.Pringles</span>
				<img class="img-responsive" src="http://static1.refinery29.com/bin/entry/598/600x500bm,80/1142318/doge.jpg">
				<div class="itembar">
					<div class="btn-itembar price">$2</div>
					<div class="btn-itembar origprice">$8</div>
					<div class="btn-itembar btn-buy">More Details</div>
				</div>
			</div>
			<br>
		</div>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.cookies.js')}}"></script>
<script src-"{{url_for('static', filename='js/bootstrap.js')}}"></script>
<script type="text/javascript">
	$(document).ready( function() {
			var JSONinfo = $.cookie("newitem") ;
			var JSONobj = JSON.parse(JSONinfo);

			$(".content").prepend("<div class='item'><div class='name'>" + JSONobj.name + "</div><div class='desc'>" + JSONobj.desc + "</div><img class='img-responsive' src=" + JSONobj.imgsrc + ">" + "<div class='itembar'><div class='btn-itembar price'>$" + JSONobj.price + "</div><div class='btn-itembar origprice'>$" + JSONobj.origprice + "</div><div class='btn-itembar btn-buy'>More Details</div></div></div><br>");

			$(".item").click( function() {

				console.log($(this).find(".name").html());

				var imgsrc = $(this).find(".img-responsive").attr("src");
				var name = $(this).find(".name").html();
				var desc = $(this).find(".desc").html();
				var origprice = $(this).find(".origprice").html();
				var price = $(this).find(".price").html();
				var seller = $(this).find(".seller").html();

				var JSONinfo = {}

				JSONinfo["name"] = name;
				JSONinfo["desc"] = desc;
				JSONinfo["origprice"] = origprice.substr(1);
				JSONinfo["price"] = price.substr(1);
				JSONinfo["imgsrc"] = imgsrc;
				JSONinfo["seller"] = seller;

				// 1 min expiry for cookie
				// var date = new Date();
				// date.setTime(date.getTime() + (1 * 60 * 1000));

				$.cookie("listinginfo", JSON.stringify(JSONinfo) );

				console.log(JSON.stringify(JSONinfo));

				window.location.href = "http://107.170.250.75/CSE170/frontend/singleitem.html";
				
			});

			
		});
	
	// After clicking item, send information to a cookie so that the singleitem page can render the cookie
	$(".item").click( function() {

		console.log($(this).find(".name").html());

		var imgsrc = $(this).find(".img-responsive").attr("src");
		var name = $(this).find(".name").html();
		var desc = $(this).find(".desc").html();
		var origprice = $(this).find(".origprice").html();
		var price = $(this).find(".price").html();
		var seller = $(this).find(".seller").html();

		var JSONinfo = {}

		JSONinfo["name"] = name;
		JSONinfo["desc"] = desc;
		JSONinfo["origprice"] = origprice.substr(1);
		JSONinfo["price"] = price.substr(1);
		JSONinfo["imgsrc"] = imgsrc;
		JSONinfo["seller"] = seller;

		// 1 min expiry for cookie
		// var date = new Date();
		// date.setTime(date.getTime() + (1 * 60 * 1000));

		$.cookie("listinginfo", JSON.stringify(JSONinfo) );

		console.log(JSON.stringify(JSONinfo));

		window.location.href = "http://107.170.250.75/CSE170/frontend/singleitem.html";
		
	});

	$(".add").click( function() {
		window.location.href = "/add/";
	});

	$(".manage").click( function() {
		window.location.href = "/manage/";
	});


</script>

</body>
</html>
