<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group buy</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{url_for('static', filename='css/manage.css')}}">
</head>
<body>
	<div class="stickyheader">
		<div class="logo-background"></div>
		<div class="logo">GroupBuy</div>
		<ul class="categories">
			<li><a href="/items/">Listings</a></li>
			<li><a href="/profile/">My Profile</a></li>
			<!-- <li class="active"><a href="manage.html">Manage</a></li> -->
		</ul>
	</div>

	<div class="content">
		<h3 class="header">Purchased</h3>
		<hr>
    {% for item in items %}
		<div class="item">
			<img class="img-responsive" src="{{item.photo}}" />
        <div class="name"><strong>Item: </strong>{{item.name}}</div>
        <br>
        <div class="desc"><strong>Description: </strong>{{item.description}}</div>
        <br>
        <span class="seller"><strong>Seller: </strong>{{seller}}</span>
        <br>
			<div class="price"><strong>Price: </strong>${{item.price}}</div>
			<br>
			<!-- <div class="details"><a href="/singleitem/{{id}}">Click for full listing</a></div> -->
    </div>
    <hr>
    {% endfor %} 
	</div>	

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script src-"{{url_for('static', filename='js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/manage.js')}}"></script>

</body>
</html>
